<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <meta http-equiv="refresh" content="10"> -->
        
        <title>{% block title %}Arquiterura | Entrar{% endblock %}</title>
            
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icons/favicon-16x16.png' %}">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/634401e457.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    </head>

{% block content %}
<body class="bg-gradient-info">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">REPO</h1>
                        </div>
                        {% for message in messages %}
                            <div class="container-fluid p-0">
                                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                        {% if form.errors %}
                            {% for field, error in form.errors.items %}
                                <div class="container-fluid p-0">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {% if field == 'email' or field == 'password' %}
                                            {{ field|escape }}
                                            {{ error|escape }}
                                        {% else %}
                                            {{ error }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post" class="form-group mb-0">
                            {% csrf_token %}
                            <input type="text" name="username" class="form-control form-control-user" placeholder="home">
                            <input type="password" name="password" class="form-control form-control-user mt-3" placeholder="***">
                            <hr>
                            <button type="submit" class="btn btn-success btn-user btn-block text-decoration-none">Entrar</button>
                            {% comment %} <div class="text-center mt-3">
                                <a class="small" href="#">Esqueceu a senha?</a>
                                <br>
                                <a class="small" href="#">Criar uma conta!</a>
                            </div> {% endcomment %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
{% endblock %}