{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Arquitetura | Alterar Senha</title>{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mb-4 ml-2 text-gray-800">ALTERAR SENHA</h1>
        <div class="row ml-2">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <button type="submit" class="btn btn-success btn-block">ALTERAR SENHA</button>
            </form>
        </div>
    </div>
{% endblock %}