{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 text-uppercase">Repos <i class="fas fa-list-ul fa-sm text-success"></i></h1>
            <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
            data-toggle="collapse" href="#collapseRepo" role="button" aria-expanded="false" aria-controls="collapseRepo">
                <i aria-hidden="true" class="fa fa-plus-square fa-sm mr-2"></i>
                Novo Repo
            </a>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success text-uppercase">Lista de Repos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive-sm">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 mb-3">
                        <div class="row justify-content-between">
                            <div class="row">
                                <div class="mt-1 ml-4 mr-2">
                                    <label class="text-black font-weight-bold" for="rowLimit">Show</label>
                                </div>
                                <div>
                                    <select id="rowLimit" name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> 
                                </div>
                            </div>
                            <div id="dataTable_filter" class="row dataTables_filter mr-3">
                                <div class="ml-3 mt-1 mr-2">
                                    <label class="text-black font-weight-bold" for="search">Filtro:</label>
                                </div>
                                <div>
                                    <input @input="filterRow" v-model="textInput" id="search" type="text" class="form-control form-control-sm" placeholder="Filtrar aqui..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                        <thead class="table-light text-black">
                            <tr>
                                <th>Nome</th>
                                <th>Link</th>
                                <th>Data de Modificação</th>
                                <th>ID do Usuário</th>
                                <th>Público-alvo</th>
                                <th class="d-flex justify-content-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody id="id_repos">
                            {% for repo in repos %}
                                <tr class="text-dark font-weight-bold">
                                    <td class="text-xs align-middle text-nowrap">{{ repo.nome }}</td>
                                    <td class="text-xs align-middle text-nowrap">{{ repo.link }}</td>
                                    <td class="text-xs align-middle text-nowrap">31-05-2023 21:45:38</td>
                                    <td class="text-xs align-middle text-nowrap">{{ user.id }}</td>
                                    <td class="text-xs align-middle text-nowrap">{{ repo.publico_alvo }}</td>
                                    <td class="text-xs align-middle">
                                        <div class="row d-flex justify-content-center">
                                            <div class="mr-1">
                                                <a class="btn btn-outline-success btn-sm" target="_blank" href="{{ repo.link }}" data-toggle="tooltip" data-placement="top" title="Abrir Dashboard">
                                                    <i class="fas fa-share"></i>
                                                </a>
                                            </div>
                                            <div class="mr-1">
                                                <a class="btn btn-outline-secondary btn-sm" target="_blank" href="http://localhost:8501/?x=0&y={{ repo.id }}" data-toggle="tooltip" data-placement="top" title="Abrir Relatório">
                                                    <i class="fas fa-share"></i>
                                                </a>
                                            </div>
                                            <div class="mr-1">
                                                <a class="btn btn-outline-primary btn-sm" href="#" data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <i class="fas fa-pen-square"></i>
                                                </a>
                                            </div>
                                            <div class="">
                                                <a class="btn btn-outline-danger btn-sm" href="#" data-toggle="tooltip" data-placement="top" title="Deletar">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseRepo">
        <div class="container-fluid">
            <form method="post" id="createRepoForm" class="">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <div class="mt-2">
                        <h1 class="h3 mb-0 text-gray-800">Novo Repo <i class="fas fa-plus-circle fa-sm text-success"></i></h1>
                    </div>
                </div>
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {% bootstrap_field form.nome %}
                    </div>
                    <div class="col-6">
                        {% bootstrap_field form.tipo_entidade %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {% bootstrap_field form.caminho %}
                    </div>
                    <div class="col-6">
                        {% bootstrap_field form.link %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {% bootstrap_field form.responsavel %}
                    </div>
                    <div class="col-6">
                        {% bootstrap_field form.responsavel_uso %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {% bootstrap_field form.publico_alvo %}
                    </div>
                    <div class="col-6">
                        {% bootstrap_field form.tipo_distribuidora %}
                    </div>
                </div>

                {% buttons %}
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <input type="reset" value="Limpar" class="mt-3 btn btn-outline-secondary btn-block">
                            </div>
                            <div class="col-6">
                                <button id='orcamentoForm' name="#" type="submit" class="planta-layout-form mt-3 btn btn-outline-success btn-block">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="alert" class="alert alert-success alert-dismissible fade mt-2" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    <p class="mb-0" id="message"></p>
                </div>
                {% endbuttons %}
            </form>
        </div>
    <!-- Registro de Versões -->
    {% include "core/include/registro_versoes.html" %}
    <!-- LGPD -->
    {% include "core/include/lgpd.html" %}
    <!-- Tabelas -->
    {% include "core/include/tabelas.html" %}
    <!-- Abas -->
    {% include "core/include/abas.html" %}
    <!-- Querys -->
    {% include "core/include/querys.html" %}
</div>
{% endblock content %}